html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.header-row{
    background-color: cornsilk;
}

.table-row:nth-child(odd) {
    color: black ;
    background-color: #feffac;
}

.table-row:nth-child(odd):hover {
    color: black ;
    background-color: #e9eaa1;
}

.table-row:nth-child(even) {
    color: black;
    background-color: #9affa3;

}
.table-row:nth-child(even):hover {
    color: black;
    background-color: #8dea96;

}
